<h1>List all jobs</h1>
<% unless @jobs.nil? %>
	<%= render @jobs %>
<% else %>
	<p>You seem to be a printer and functionality hasn't been added</p>
<% end %>

<p><%= link_to "Create a new job", new_job_path %></p>
